<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.safetia.mapper.StoreMapper">
	<!-- 해당점포의 모든 상품정보 select -->
	<select id="selectStoreStuffList" parameterType="store" resultType="store">
		select STUFF_NO, STUFF_NAME, STUFF_PRICE, STUFF_DESC from ${storeName}
	</select>
	
	<!-- 해당점포의 특정 상품정보 select -->
	<select id="selectStoreStuff" parameterType="store" resultType="store">
		select STUFF_NO, STUFF_NAME, STUFF_PRICE, STUFF_DESC from ${storeName} 
		<where>
			<if test='stuffNo != null and stuffNo != ""'>
				and STUFF_NO=#{stuffNo}
			</if>
			<if test='stuffName != null and stuffName != ""'>
				and STUFF_NAME=#{stuffName}
			</if>
			<if test='stuffPrice != null and stuffPrice != ""'>
				and STUFF_PRICE=#{stuffPrice}
			</if>
			<if test='stuffDesc != null and stuffDesc != ""'>
				and STUFF_DESC=#{stuffDesc}
			</if>
		</where>
	</select>
	
	<!-- 해당점포에 상품등록 -->
	<insert id="insertStoreStuff" parameterType="store">
		insert into ${storeName} (STUFF_NO, STUFF_NAME, STUFF_PRICE, STUFF_DESC)
		values(seq_${storeName}_no.nextval, #{stuffName}, #{stuffPrice}
		<if test='stuffDesc != null and stuffDesc != ""'>
			, #{stuffDesc}
		</if>
		)
	</insert>
	
	<!-- 해당점포 특정 상품 갱신 -->
	<update id="updateStoreStuff" parameterType="store">
		update ${storeName}
		<set>
			<if test='stuffName != null and stuffName != ""'>
				STUFF_NAME=#{stuffName},
			</if>
			<if test='stuffPrice != null and stuffPrice != ""'>
				STUFF_PRICE=#{stuffPrice},
			</if>
			<if test='stuffDesc != null and stuffDesc != ""'>
				STUFF_DESC=#{stuffDesc},
			</if>
		</set>
		where STUFF_NO=#{stuffNo}
	</update>
	
	<!-- 해당점포 특정 상품 삭제 -->
	<delete id="DeleteStoreStuff" parameterType="store">
		delete from ${storeName} where STUFF_NO=#{stuffNo}
	</delete>
</mapper>